<% include ../partials/header %>
<%  if(currentUser!=null&&currentUser.isAdmin){ %>  
    <a href="/adminpanel">Go to admin panel</a>
    <%  } else{ %>
   
<div class="body">
<div class="container">
    <div class="signup">
            <form action="/Services/<%= Service_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <h2>Edit Comment</h2>
                <div class="form">
                    <input class="input" type="text" name="comment[text]" value="<%= comment.text %>" required>
                </div>
                <div class="form">
                    <button class="submit">Submit!</button>
                </div>
            </form>
            
            <a href="/Services/<%= Service_id %>">Go Back</a>
        </div>
    </div>
</div>
<% } %>
<% include ../partials/footer %>

