<% include ../partials/header %>
<%  if(currentUser!=null&&currentUser.isAdmin){ %>  
    <a href="/adminpanel">Go to admin panel</a>
    <%  } else{ %>
    <div class="body">
<div class="container">
    <div class="signup">
        <form action="/Items/<%= Item._id %>/comments/" method="POST">
            <h2>Add New Comment to <%= Item.name %></h2>
                <div class="form">
                    <input class="input" type="text" name="comment[text]" placeholder="text" required>
                </div>
                <div class="form">
                    <button class="submit">Submit!</button>
                </div>
                </form>
            <a href="/Items/<%= Item._id %>">Go Back</a>
        </div>
    </div>
</div>
<% } %>
<% include ../partials/footer %>

